:root {
  --pokemonYellow: '#FFCB05';
  --pokemonBlue: '#2A75BB';
  --red: '#FF0000';
  --white: '#FFFFF';
  --black: '#3D3D3D';

  --font-size-body: '16px';
  --font-family: 'pokemon solid','Times New Roman', Times, serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1,
h2,
h3{
    margin: 0;
}

body { 
  font-size: var(--font-size-body);
  font-family: var(--font-family);
}