@import "tailwindcss";



@theme {
  --color-pokemonBlue: #2A75BB;
  --color-pokemonYellow: #FFCB05;
  --color-pokemonRed: #FF0000;
  --color-black: #3D3D3D;
  --color-white: #FFFFFF;
  --color-warmBackground: #FFF8E7;
}

:root {
  /* --pokemonYellow: '#FFCB05';
  --pokemonBlue: '#2A75BB';
  --red: '#FF0000';
  --white: '#FFFFF';
  --black: '#3D3D3D'; */

  --font-size-body: '16px';
  --font-family: 'pokemon solid','Times New Roman', Times, serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
p{
    margin: 0;
}

body { 
  font-size: var(--font-size-body);
  font-family: var(--font-family);
  letter-spacing: .15rem;
}

.loader {
  width: fit-content;
  font-weight: bold;
  letter-spacing: .5rem;
  margin-bottom: 1rem;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.loader:before {
  content:"Loading..."
}
@keyframes l4 {to{clip-path: inset(0 -1ch 0 0)}}

/* .selection-card-artwork img,
.collection-card-img img {
  max-width: 100%;
}

.selection-card {
  border: 1px solid black;
  cursor: pointer;
}

.collection-card,
.game-card {
  cursor: pointer;
  margin-bottom: .5rem;
  border: 1px solid black;
}

.collection-card-img img,
.game-card-artwork img {
  width: 100px;
} */


/* nav {
  position: fixed;
  bottom: 0;
} */
